<% content_for(:title) { "Account" } %>

<div class="panel">
  <header>
    <h2>Account</h2>    
  </header>
  <div class="panel-body">
    <div class="panel-tools">
      <%= link_to "Subscription", account_subscription_path %>
      <%= link_to "Payment Methods", account_cards_path %>
      <%= link_to "Payment History", account_charges_path %>
    </div>
    <%= form_for @user, url: account_path do |form| %>
      <%= form.errors %>
      <%= form.field_for :email do |email| %>
        <%= email.label "Edit Email" %>
        <%= email.email_field %>
      <% end %>
      <%= form.field_for :password do |password| %>
        <%= password.label "New Password" %>
        <%= password.password_field %>
      <% end %>
      <%= form.field_for :password_confirmation do |password_confirmation| %>
        <%= password_confirmation.label "Confirm Password" %>
        <%= password_confirmation.password_field %>
      <% end %>
      <div class="panel-actions">
        <%= form.submit "Update Account" %> or <%= link_to "Cancel", root_path %>
      </div>
    <% end %>
  </div>
</div>
