<div class="panel-small">
  <div class="panel-body">
    <h2>Sign up</h2>
    <%= form_for @user do |form| %>
      <%= form.errors %>
      <%= form.field_for :email do |email| %>
        <%= email.label %>
        <%= email.email_field %>
      <% end %>
      <%= form.field_for :password do |password| %>
        <%= password.label %>
        <%= password.password_field %>
      <% end %>
      <p><%= form.submit "Sign up" %></p>
    <% end %>
  </div>
  <footer>
    <p>Already have an account? <%= link_to "Sign in", sign_in_path %>.</p>
  </footer>
</div>
