<tr>
  <td class="cc-brand"><%= card.brand %></td>
  <td class="cc-number">XXXX-XXXX-XXXX-<%= card.last4 %></td>
  <td class="cc-exp"><%= '%.2d' % card.exp_month %>/<%= card.exp_year %></td>
  <td>
    <% if card.default? %>
      <span class="card-default">Default</span>
    <% end %>
  </td>
  <td><%= link_to embedded_svg("trashcan.svg"), account_card_path(card), title: "Delete Payment Method", method: :delete, data: { confirm: "Are you are you want to delete this payment method?" } %></td>
</tr>
