<div class="panel-wrapper" data-children="2">
  <header>
    <h2><%= link_to "Account", edit_account_path %></h2>
  </header>
  <div class="panel-wrapper" data-children="1">
    <header>
      <h2>
        <%= link_to "Payment Methods", account_cards_path %>
      </h2>
    </header>
    <div class="panel">
      <header>
        <h2>Add Payment Method</h2>
      </header>
      <div class="panel-body">
        <% if @subscription && @plan %>
          <p class="flash-notice">This payment method will be billed <strong><%= number_to_currency(@plan.price) %></strong> on <strong><%= local_date(@subscription.billable_on) %></strong> for your <%= @plan.description %> plan.</p>
        <% end %>
        <%= form_for @card, url: account_cards_path do |form| %>
          <% if @subscription && @plan %>
            <%= hidden_field_tag :plan, @plan.name unless @subscription.persisted? %>
          <% end %>
          <%= form.errors render: true %>
          <div>
            <label>Card Number</label>
            <input type="text" size="20" data-stripe="number"/>
          </div>
          <div>
            <label>CVC</label>
            <input type="text" size="4" data-stripe="cvc"/>
          </div>
          <div>
            <label>Expiration</label>
            <input class="input-inline" type="text" size="2" placeholder="MM" data-stripe="exp-month"/>
            <span> / </span>
            <input class="input-inline" type="text" size="4" placeholder="YYYY" data-stripe="exp-year"/>
          </div>
          <div class="panel-actions">
            <%= form.submit "Add Payment Method" %> or <%= link_to "Cancel", account_cards_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
