<div class="panel-wrapper" data-children="2">
  <header>
    <h2><%= link_to "Forms", forms_path %></h2>
  </header>
  <div class="panel-wrapper" data-children="1">
    <header>
      <h2><%= link_to @form.name, form_path(@form) %></h2>
    </header>
    <div class="panel">
      <header>
        <h2>Edit <%= @form.name %></h2>
      </header>
      <div class="panel-body">
        <%= form_for @form do |form| %>
          <%= render partial: 'fields', locals: { form: form } %>
          <div class="panel-actions">
            <%= form.submit "Update Form" %> or <%= link_to "Cancel", form_path(@form) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
