<% content_for(:title) { "Add Form" } %>

<div class="panel-wrapper" data-children="1">
  <header>
    <h2><%= link_to "Forms", forms_path %></h2>
  </header>
  <div class="panel">
    <header>
      <h2>Add Form</h2>
    </header>
    <div class="panel-body">
      <%= form_for @form do |form| %>
        <%= render partial: 'fields', locals: { form: form } %>
        <div class="panel-actions">
          <%= form.submit "Add Form" %> or <%= link_to "Cancel", forms_path %>
        </div>
      <% end %>
    </div>
  </div>    
</div>

