<div class="panel-wrapper" data-children="1">
  <header>
    <h2><%= link_to "Forms", forms_path %></h2>
  </header>
  <div class="panel">
    <header>
      <h2><%= @form.name %></h2>
      <div class="panel-actions">
        <%= link_to embedded_svg('pencil.svg'), edit_form_path(@form), title: "Edit Form" %>
        <%= link_to embedded_svg('trashcan.svg'), form_path(@form), title: "Delete Form", method: :delete, data: { confirm: "Are you sure you want to delete this form?" } %>
      </div>
    </header>
    <div class="panel-body">
      <h3>Form Code</h3>
      <p>Here's your custom generated action url. Simply copy it from here and paste it into your own form. Make sure it to put it in the <code>action</code> attibute as shown in our example below.</p>
      <code>
        <pre>
&lt;form method="POST" action="<input readonly type="text" value="<%= submissions_url(@form.uid) %>">"&gt;
  &lt;!-- Your custom form inputs go here --&gt;
&lt;/form&gt;
        </pre>
      </code>
      <h3>Recent Submissions</h3>
      <table>
        <thead>
          <tr>
            <th>Preview</th>
            <th>Submitted</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if @submissions.present? %>
            <%= render @submissions %>
          <% else %>
            <tr>
              <td class="empty" colspan="6">
                Setup form code to receive submissions
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @submissions.present? %>
        <div class="panel-actions">
          <%= link_to "View All Submissions", form_submissions_path(@form), class: :button %>
        </div>
      <% end %>
    </div>
  </div>
</div>
