<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <% if content_for?(:description) %>
      <meta name="description" content="<%= content_for(:description) %>" />
    <% end %>
    <% if content_for?(:title) %>
      <title><%= content_for(:title) %> | Elbongurk Forms</title>
    <% else %>
      <title>Elbongurk Forms</title>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= render 'javascript' %>
  </head>

  <body class="<%= body_class %>">
    <header role="banner">
      <div role="container">
        <h1><%= link_to "Elbongurk Forms", root_path %></h1>
        <nav>
          <ul>
            <li><%= link_to "Quickstart", guide_path %></li>
            <% if signed_in? %>
              <li><%= link_to "Account", edit_account_path %></li>
              <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign in", sign_in_path %></li>
              <li><%= link_to "Sign up", sign_up_path, class: "call-to-action" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= render 'flashes' %>
    <div role="main">
      <%= yield %>
    </div>
    <footer role="contentinfo">
      <div role="container">
        <span>
          &copy; 2016 <a href="http://elbongurk.com">Elbongurk LLC</a>
        </span>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Contact Us", contact_path %></li>
          <li><%= link_to "Privacy Policy", privacy_path %></li>
          <li><%= link_to "Legal", legal_path %></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
